.submit-button {
	background-color: #000000;
	border-radius: 62px;
	height: 48px;
	overflow: hidden;
	position: absolute;
	width: 326px;
}

.submit-button .text-wrapper {
	color: #ffffff;
	font-size: 14px;
	font-weight: 300;
	left: 144px;
	letter-spacing: -0.56px;
	line-height: normal;
	position: absolute;
	top: 14px;
}

.login {
	top: 281px;
}

.reg {
	top: 355px;
}
