.MainHat {
	background-color: #f2f0f1;
	width: 100vw;
	height: 785px;

	display: grid;
}

.MainInfoWrapper {
	width: 86vw;
	height: 663px;

	display: flex;
	justify-self: center;
	align-items: space-between;
}

.WelcomeTextWrapper {
	width: inherit;

	margin-top: 93px;

	display: flex;
	flex-direction: column;
}

.H1 {
	width: 582px;
}

.Body2 {
	width: 582px;
}

.statistics-wrapper {
	width: 582px;

	margin-top: 48px;

	display: flex;
	flex-direction: row;
	gap: 28px;
	justify-content: space-between;

	.statistics-box {
		display: flex;
		flex-direction: column;
		gap: -2px;
	}

	.divider {
		width: 1px;
		height: 71px;
	}
}

.stars-container {
	width: 609px;
	height: 267px;

	position: absolute;
	top: 16.5vh;
	right: 7.5vw;

	:first-child {
		position: absolute;
		top: 0px;
		right: 0px;
	}

	:last-child {
		position: absolute;
		bottom: 0px;
		left: 0px;
	}
}

@media (max-width: 390px) {
	.MainHat {
		height: 999px;
	}

	.MainInfoWrapper {
		width: inherit;
		height: 813px;
		margin-top: 40px;

		flex-direction: column;
	}

	.WelcomeTextWrapper {
		width: 92vw;
		margin: 0 4vw;

		align-items: center;
	}

	.H1 {
		width: inherit;
	}

	.Body2 {
		width: inherit;
	}

	.statistics-wrapper {
		width: 278px;
		height: 110px;

		margin-top: 20px;

		align-items: center;
		flex-wrap: wrap;
		gap: 12px 25px;
		justify-content: center;
		align-content: space-between;

		.statistics-box {
			gap: -6px;
		}

		.divider {
			height: 52px;
		}

		.escaping-divider {
			display: none;
		}
	}

	.trendy-image {
		object-fit: cover;
	}

	.stars-container {
		width: 342px;
		height: 141px;

		top: 77.57vh;
		right: 5.38vw;

		:first-child {
			position: absolute;
			top: 0px;
			right: 0px;
		}

		:last-child {
			position: absolute;
			bottom: 0px;
			left: 0px;
		}
	}
}
