.sign-wrapper {
	height: 433px;
	position: relative;
	width: 326px;
}

.sign-wrapper .label {
	color: #000000;
	height: 63px;
	left: 58px;
	position: absolute;
	text-align: center;
	top: 0px;
}

.sign-wrapper .footer {
	color: transparent;
	font-size: 16px;
	font-weight: 400;
	left: 40px;
	letter-spacing: -0.64px;
	line-height: 22px;
	position: absolute;
	top: 410px;
	white-space: nowrap;
	margin: 0;
}
